GATSBY_SANITY_PROJECT_ID="5uq4hdya"
GATSBY_SANITY_DATASET="production"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN="skjCKoKtL11CBK9LBNOApDmuRURQHxG0qfgtPXTtilj7Gbjidn5VE7SnOSUwRWS2PreDHbVWAjVMAYX1iXGeXmdFGRYnEwXZK0x1lnlmJLpMBdZAE7foIaBmYffi2TSafT4PrlAflG70bp4LLunSuj7Y15EwRF3NKNvjUwXehX5xpSgzOeEo"

